.menu-heading {
    margin-top: 100px;
    padding-left: 17px;
}

.navlink {
    border: 0px;
}

.col-4 {
    width: 20%;
}

.col-8 {
    width: 80%;
}

.cart-btn {
    background-color: #e53e3e;
    color: #ffffff;
}

.cart-btn:hover {
    background-color: #e4002b;
}

.menu-body {
    background-color: #ebebeb;
}

.searchbtn {
    padding-left: 5px;
}

.searchnav {
    background-color: #ebebeb !important;
}

.gridgap-menu {
    row-gap: 20px;
}